:root {
    --blue-header-footer: #293449; 
    --blue-main: #32425C;
    --red-main: #EE3643;
    --red-error: #BA2732;
    --red-hover: #CA2C37;
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --grey-hover: #A9A9A9;
    --grey-popular-container: #F9F5F0;
    --grey-main: #F1F5F7;
    --yellow-nav: #FFD180;
    --orange-materials-special: #FFBF47;
    --blue-instruments-special: #3BBCE3;
    --lilac-technic-special: #DC91D8;
    --green-discount-special: #8ED78F;
    --peach-delivery-special: #FFC047;
    --green-order: #63A63E;
    --grey-breadcrumb: #C1C6CE;
    --grey-head: #F2F6F8;
    --grey-filter: #F7F3EC;
    --grey-hover-light: #C5C5C5;
    --grey-border: #E5E5E5;
    --green-success: #5FBB2D;
    --blue-click-dark: #161D29;
    --blue-click: #1D2739;
    --green-click: #518534;
    --grey-hover-blocked: #B5B5B5;
    --black-transparent: rgba(0, 0, 0, 0.0001);
    --grey-light: #F3F7F9;
    --white-link-opacity: rgba(250, 250, 250, 0.5);
    --white-advantages-opacity: rgba(250, 250, 250, 0.3);
    --grey-advantages-hover-opacity: rgba(197,197,197, 0.3);
    --grey-advantages-active-opacity: rgba(169,169,169, 0.3);
    --product-border: #EAEAEA;
    --green-shadow: #367315;
    --blue-shadow: #405069;
    --black-shadow: rgba(0, 0, 0, 0.24);
    --grey-modal: #F4F4F4;
    --grey-modal-cart: #F1F1F1;
    --blue-grey: #3D546F;
    --black-box-shadow: rgba(0, 0, 0, 0.15);
    --black-sort-opacity: rgba(0, 0, 0, 0.3);
    --red-credit-button: #ff5357;
    --grey-scale: #D7DCDE;
    --green-scale-bar: #00ca74;
    --grey-toggle: #ABABAB;
    --grey-toggle-shadow: rgba(171, 171, 171, 0.3);
}

/* Global */
body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    color: var(--basic-black);
    font-weight: 400;
}

a {
    text-decoration: none;    
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.user-block .user-authorized {
    display: none;
}

.user-block--auth .user-authorized {
    display: block;
}

.user-block--auth .user-not-authorized {
    display: none;
}


/* header */
.header {
    background: var(--grey-main);
    padding-bottom: 60px;
    width: 100%;
}

.header-logo {
    width: 220px;
    height: 47px;
    background-color: var(--red-main);
    box-shadow: inset 0px -5px 0px var(--black-shadow);
    position: absolute;
}

.header-logo svg {
    margin-left: 56px;
    margin-top: 12px;
}

.header-top-wrapper {
    background-color: var(--blue-header-footer);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    min-height: 42px;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top-wrapper .container {
    display: flex;
    flex-wrap: wrap;
}

.header-middle-wrapper .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-logo:active {
    background-color: var(--red-error);
}

.header-search {
    margin-left: 220px;
    position: relative;
}

.header-search input {
    background-color: var(--blue-header-footer);
    min-height: 42px;
    border: 0;
    outline: 0;
    outline-offset: 0;
    width: 270px;
}

.header-search input {
    background-image: url("../img/icon-search-no-hover.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
    background-size: 17px 17px;
}

.header-search input:hover {
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
    background-size: 17px 17px;
}

.header-search input:active,
.header-search input:focus {
    background-color: var(--basic-white);
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
    background-size: 17px 17px;
    padding-left: 40px;
}

.header-search input::placeholder {
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
}

.header-search input:focus::placeholder,
.header-search input:active::placeholder {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 0;
}

.header-search input:active::placeholder,
.header-search input:focus::placeholder {
    color: var(--basic-black);
}

.header-bookmarks {
    color: var(--basic-white);
    text-align: center;
    display: block;
    padding: 9px 24px 9px 43px;
    position: relative;
    width: 150px;
    box-sizing: border-box;
}

.header-bookmarks::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 20px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-bookmarks:hover::before,
.header-bookmarks:focus::before {
    opacity: 1;
}

.header-bookmarks:active::before {
    opacity: 0.5;
}

.header-bookmarks:focus,
.header-bookmarks:active {
    background-color: var(--blue-click-dark);
    color: var(--white-link-opacity);
}

.header-basket {
    color: var(--basic-white);
    text-align: center;
    display: block;
    padding: 10px 23px 9px 47px;
    position: relative;
    width: 150px;
    box-sizing: border-box;
}

.header-basket:focus,
.header-basket:active {
    background-color: var(--blue-click-dark);
    color: var(--white-link-opacity);
}

.header-basket::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 26px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-basket:hover::before,
.header-basket:focus::before {
    opacity: 1;
}

.header-basket:active::before {
    opacity: 0.5;
}

.not-empty-cart {
    background-color: var(--red-main);
    padding: 9px 21px 9px 34px;
    width: 135px;
    margin-left: 15px;
}

.not-empty-cart.header-basket::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 12px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.not-empty-cart:hover,
.not-empty-cart:focus {
    background-color: var(--red-hover);
}

.not-empty-cart:active {
    background-color: var(--red-error);
}

.header-order-button {
    color: var(--basic-white);
    text-align: center;
    display: block;
    padding: 9px 16px 9px 19px;
    width: 150px;
    box-sizing: border-box;
    background-color: var(--green-order);
}

.header-order-button:hover,
.header-order-button:focus {
    background-color: var(--green-success);
}

.header-order-button:active {
    background-color: var(--green-order);
    color: var(--white-link-opacity);
}

.header-middle-wrapper {
    margin-bottom: 40px;
}

.online-store {
    margin: 0;
    width: 197px;
    margin-left: 30px;
    margin-top: 43px;
    color: var(--red-main);
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
}

.header-contacts {
    width: 270px;
    margin-top: 46px;
    margin-left: 93px;
}

.header-contacts-phone-number {
    background-color: var(--grey-light);
    color: var(--red-main);
    border: 3px solid var(--basic-white);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 3px;
    display: block;
    box-sizing: border-box;
    width: 270px;
    padding: 3px 42px 5px 71px;
    position: relative;
}

.header-contacts-phone-number::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 36px;
    width: 19px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-contacts p {
    color: var(--blue-main);
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.user-not-authorized {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 281px;
    margin-top: 46px;
    margin-left: 69px;
}

.user-authorized {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 299px;
    margin-top: 46px;
    margin-left: 51px;
    position: relative;
}

.account-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: 7px;
}

.login-link {
    padding: 11px 27px 12px 46px;
}

.user-name {
    padding: 11px 56px;
    display: block;
    position: relative;
}

.profile-link {
    position: absolute;
    top: 13px;
    left: 15px;
    width: 20px;
    height: 18px;
}

.logout-link {
    position: absolute;
    top: 14px;
    right: 17px;
    width: 20px;
    height: 17px;
}

.icon-user:hover path,
.icon-user:focus path,
.icon-logout:hover path,
.icon-logout:focus path {
    fill: var(--blue-grey);
}

.icon-user:active path,
.icon-logout:active path {
    fill: var(--grey-hover-light);
}

.user-name:active {
    color: var(--grey-hover-light);
}


.my-orders {
    margin-right: 15px;
    margin-left: auto;
}

.account {
    margin-right: auto;
    margin-left: 15px;
    position: relative;
}

.account::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 7px;
    top: 7px;
    left: -18px;
    border-radius: 50%;
    background-color: var(--blue-main);
    background-position: 0 0;
    border: 1px solid var(--basic-white);
    box-sizing: border-box;
}

.login-link,
.registration-link,
.user-name {
    background-color: var(--basic-white);
    color: var(--basic-black); 
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    display: block;
    position: relative;
}

.login-link svg {
    position: absolute;
    top: 14px;
    left: 19px;
    width: 21px;
    height: 17px;
}

.login-link:hover path,
.login-link:focus path {
    fill: var(--blue-grey);
}

.login-link:active path {
    fill: var(--grey-hover-light);
}

.registration-link {
    padding: 11px 24px;
}

.login-link:hover,
.login-link:focus,
.registration-link:hover,
.registration-link:focus {
    color: var(--red-main);
}

.login-link:active,
.registration-link:active {
    color: var(--grey-hover-light);
}

.unlogin-link {
    color: var(--blue-main);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.unlogin-link:hover,
.unlogin-link:focus {
    color: var(--red-main);
}

.unlogin-link:active {
    color: var(--grey-hover-light);
}

.site-navigation {
    background-color: var(--blue-main);
    min-height: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
}

.site-navigation a {
    background-color: var(--blue-main);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    display: block;
    padding: 16px 28px 20px;
}

.site-navigation a:hover {
    background-color: var(--blue-header-footer);
    color: var(--basic-white);
}

.site-navigation a:active {
    background-color: var(--blue-click);
    color: var(--basic-white);
    opacity: 0.5;
}

/* main - advantages */

.advantages {
    margin-top: 59px;
    margin-bottom: 59px;
}

.advantages-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.advantages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    grid-column: 1/-1;
    grid-row: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.slider {
    grid-column: 1/3;
    grid-row: 2/4;
    min-height: 266px;
    position: relative;
}

.advantages-list h3{
    color: var(--basic-white);
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 22px;
}

.advantages-item {
    min-height: 123px;
    position: relative;
}

.advantages-item:nth-child(1) {
    background-color: var(--orange-materials-special);
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
}

.advantages-item:nth-child(1)::before {
    content: "new";
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 225px;
    width: 100px;
    height: 30px;
    background-color: var(--red-main);
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(45deg);
}

.advantages-item:nth-child(1)::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-advantages-paint.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages-item:nth-child(2) {
    background-color: var(--blue-instruments-special);
    grid-column: 2;
    grid-row: 1;
}

.advantages-item:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 31px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-advantages-drill.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages-item:nth-child(3) {
    background-color: var(--lilac-technic-special);
    grid-column: 3;
    grid-row: 1;
}

.advantages-item:nth-child(3)::after {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-advantages-tractor.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages-item:nth-child(4) {
    background-color: var(--green-discount-special);
    grid-column: 3;
    grid-row: 2;
}

.advantages-item:nth-child(4)::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-advantages-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages-item:nth-child(5) {
    background-color: var(--peach-delivery-special);
    grid-column: 3;
    grid-row: 3;
}    

.advantages-item:nth-child(5)::after {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-advantages-minibus.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.advantages-list a {
    background-color: var(--white-advantages-opacity);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-top: 14px;
    margin-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 135px; 
}

.advantages-list a:hover,
.advantages-list a:focus {
    background-color: var(--grey-advantages-hover-opacity);
}

.advantages-list a:active {
    background-color: var(--grey-advantages-active-opacity);
}

.slider-item figcaption {
    color: var(--basic-white);
    position: absolute;
}

.slider .slider-item {
    background-color: var(--grey-hover);
    margin: 0;
    height: 260px;
}

.slider-item {
    display: none;
}

.current-slide {
    display: block;
}

.slider-controls-circle-button .current-circle-button {
   background-color: var(--red-main);
}

.slider-item h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-top: 23px;
    margin-left: 24px;
}

.slider-item p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    margin-left: 24px;
    margin-top: 5px;
}

.slider-button {
    z-index: 10;
}

.slider-button-open-catalog {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--red-main);
    border: none;
    position: absolute;
    top: 201px;
    left: 24px;
    padding: 11px 46px 9px;
}

.slider-button-open-catalog:hover,
.slider-button-open-catalog:focus {
    background-color: var(--red-hover);
}

.slider-button-open-catalog:active {
    background-color: var(--red-error);
}

.slider-controls-circle-button {
    position:absolute;
    top: 220px;
    left: 295px;
    display: flex;
    width: 30px;
    justify-content: space-between;

}

.slider-controls-back-forward .slider-button {
    border: none;
    background-color: transparent;
}

.slider-button-back {
    position: absolute;
    top: 121px;
    left: 18px;
    cursor: pointer;
}

.slider-button-forward {
    position: absolute;
    top: 121px;
    right: 15px;
    cursor: pointer;
}
.slider-button-forward svg {
    transform: rotate(180deg);
}

.circle-button {
    padding: 0;
    width: 10px;
    height: 10px;
    background-color: var(--basic-white);
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    cursor: pointer;
}

.button {
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--red-main);
}

.button:hover {
    background-color: var(--red-hover);
}

.button:active {
    background-color: var(--red-error);
}

/* popular goods */

.popular-goods {
    margin-bottom: 70px;
}

.popular-goods-head {
    background-color: var(--grey-popular-container);
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.popular-goods-head h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 29px;
    margin-left: 28px;
    margin-bottom: 30px;
}

.popular-goods-open-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 192px;
    padding: 11px 24px 9px;
    margin-top: 25px;
    margin-right: 14px; 
    margin-bottom: 26px;
    box-sizing: border-box;
}

.popular-goods-head a:hover,
.popular-goods-head a:focus {
    background-color: var(--red-hover);
}

.popular-goods-head a:active {
    background-color: var(--red-error);
}

.popular-goods-list {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: space-between;
}

.popular-goods-item {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--product-border);
    box-sizing: border-box;
}

.popular-goods-item:focus .product-card-active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--basic-white);
}

.popular-goods-item:hover {
    box-shadow: 0px 4px 20px var(--black-box-shadow);
}

.product-card-image {
    margin: 0;
    max-height: 181px;
}

.img-bosch-9000 {
    width: 184px;
    height: 164px;
    margin: 6px 18px 8px 18px;
    position: relative; 
    z-index: -2;
}

.img-bosch-3000-2000 {
    width: 127px;
    height: 111px;
    margin: 29px 53px 38px 40px; 
    position: relative; 
    z-index: -2;
}

.img-bosch-6000 {
    width: 144px;
    height: 128px;
    margin: 20px 43px 28px 33px;
    position: relative; 
    z-index: -2;
}

.catalog-item:nth-child(3) img {
    margin-bottom: 28px;
}

.catalog-item:nth-child(4) img {
    margin-bottom: 36px;
}

.catalog-item:nth-child(4) h3 {
    margin-left: 14px;
}

.catalog-item:nth-child(5) img {
    margin-bottom: 28px;
}

.catalog-item:nth-child(6) img {
    margin-bottom: 36px;
}

.catalog-item:nth-child(6) h3 {
    margin-left: 14px;
}

.catalog-item:nth-child(7) img {
    margin-bottom: 36px;
}

.catalog-item:nth-child(7) h3 {
    margin-left: 14px;
}

.catalog-item:nth-child(8) img {
    margin-bottom: 28px;
}

.catalog-item:nth-child(9) img {
    margin-bottom: 36px;
}

.catalog-item:nth-child(9) h3 {
    margin-left: 14px;
}

.new-item .product-card::before {
    content: "new";
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 8px;
    left: 148px;
    width: 100px;
    height: 30px;
    background-color: var(--red-main);
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(45deg);
    z-index: -1;
    box-sizing: border-box;
    margin-top: 3px;
    padding-top: 4px;
    padding-right: 8px;
}

.new-item:nth-child(4) .product-card::before {
    margin-top: 4px;
    margin-left: 1px;
}

.product-card {
    font-family: "PT Sans", Arial, sans-serif;
    background-color: var(--basic-white);
    width: 220px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: transparent;
}

.product-card-invactive {
    display: flex;
    flex-direction: column;
}

.product-card-active {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: none;
    padding-top: 38px;
    flex-direction: column;
    align-items: flex-start;
}

.catalog-item:hover {
    box-shadow: 0px 4px 20px var(--black-box-shadow);
}

.product-card:hover .product-card-active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--basic-white);
}

.catalog-item:focus .product-card-active {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--basic-white);
}

.new-item .product-card-active::before {
    content: "new";
    color: var(--basic-white);
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 8px;
    left: 148px;
    width: 100px;
    height: 30px;
    background-color: var(--red-main);
    background-repeat: no-repeat;
    background-position: 0 0;
    transform: rotate(45deg);
    z-index: 1;
    box-sizing: border-box;
    margin-top: 3px;
    padding-top: 4px;
    padding-right: 8px;
}

.new-item:nth-child(4) .product-card-active::before {
    margin-top: 4px;
    margin-left: 1px;
}

.product-link h3 {
    color: var(--basic-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 18px;
    margin-right: 17px;
}

.old-price {
    color: var(--grey-hover);
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    margin: 0;
    margin-top: 7px;
    margin-bottom: 13px;
    text-decoration-line: line-through;
    text-transform: uppercase; 
}

.hidden-price {
    visibility: hidden;
}

.new-price {
    color: var(--basic-white);
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    width: 141px;
    background-image: url("../img/red-button.svg");
    padding: 10px 40px 10px 32px;
    box-sizing: border-box;
    margin: 13px 34px 21px 45px;
}

.product-buy {
    background-color: var(--green-order);
    color: var(--basic-white);
    box-shadow: inset 0px -3px 0px var(--green-shadow);
    border-radius: 2px;
    display: block;
    box-sizing: border-box;
    position: relative;
    width: 135px;
    padding: 10px 12px 10px 25px;
    margin-left: 41px;
    margin-bottom: 10px;
}

.product-buy:hover {
    background-color: var(--green-success);
}

.product-buy:active {
    background-color: var(--green-click);
}

.product-buy::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.product-bookmarks {
    color: var(--blue-main);
    border: 3px solid var(--green-order);
    border-radius: 2px;
    width: 135px;
    display: block;
    box-sizing: border-box;
    padding: 7px 20px 6px 18px;
    margin-left: 41px;
    margin-bottom: 54px;
}

.product-bookmarks:hover {
    border: 3px solid var(--blue-main);
}

.product-bookmarks:active {
    border: 3px solid var(--blue-main);
    opacity: 0.5;
}

/* popular-vendors */

.popular-vendors {
    margin-bottom: 50px;
}

.popular-vendors-head {
    background-color: var(--grey-popular-container);
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.popular-vendors-head h2 {
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 27px;
    margin-left: 28px;
    margin-bottom: 30px;
    
}

.popular-vendors-open-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 192px;
    padding: 11px 38px 9px 39px;
    margin-top: 22px;
    margin-right: 19px; 
    margin-bottom: 26px;
    box-sizing: border-box;
}

.popular-vendors-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.popular-vendors-item {
    border: 1px solid var(--product-border);
    width: 220px;
    height: 145px;
    box-sizing: border-box;
    margin-right: 20px;
    margin-bottom: 20px;
}

.popular-vendors-item:hover {
    box-shadow: 0px 4px 20px var(--black-box-shadow);
}

.popular-vendors-item:active {
    opacity: 0.5;
}

.popular-vendors-item:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
}

/* services */

.services {
    background-color: var(--grey-main);
    padding-top: 63px;
}

.services-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.services-wrapper h2 {
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
}

.services-wrapper>p {
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    margin-bottom: 69px;
    width: 396px;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.services-slide {
    display: none;
    width: 619px;
    margin: 0;
    margin-left: 80px;
    position: relative;
}

.current-service-slide {
    display:block;
}

.delivery-slide::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 468px;
    height: 261px;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-bottom: 4px;
    z-index: 1;
}

.guarantee-slide::after {
    content: "";
    position: absolute;
    bottom: 25px;
    right: -87px;
    width: 468px;
    height: 261px;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
}

.credit-slide::after {
    content: "";
    position: absolute;
    bottom: 25px;
    right: -14px;
    width: 468px;
    height: 261px;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 1;
}

.services-controls {
    position: relative;
    margin-bottom: 99px;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-controls::after {
    content: "";
    position: absolute;
    top: -49px;
    right: 0;
    width: 10px;
    height: 279px;
    background-image: url("../img/separator-line.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.service-button {
    width: 240px;
    text-align: left;
    border: none;
    padding-top: 14px;
    padding-left: 22px;
    padding-bottom: 17px;
    display: block;
    cursor: pointer;
}
.services-delivery-button,
.services-guarantee-button,
.services-credit-button{
    background-color: var(--blue-main);
    box-shadow: 0px 1px 0px var(--blue-header-footer), inset 0px 1px 0px var(--blue-shadow);
    color: var(--basic-white);
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
} 

.services-delivery-button:hover,
.services-guarantee-button:hover,
.services-credit-button:hover{
    background-color: var(--blue-header-footer);
}

.services-delivery-button:focus,
.services-guarantee-button:focus,
.services-credit-button:focus,
.services-delivery-button:active,
.services-guarantee-button:active,
.services-credit-button:active{
    background-color: var(--basic-white);
    color: var(--blue-main);
    box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
    outline: none;
}

.current-button,
.current-button:hover,
.current-button:focus,
.current-button:active {
    background-color: var(--basic-white);
    color: var(--blue-main);
    box-shadow: 0px 1px 0px var(--basic-white), inset 0px 1px 0px var(--basic-white);
    outline: none;
}

.services-delivery h3 {
    color: var(--blue-main);
    margin: 0;
    margin-bottom: 29px;
    width: 305px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-guarantee h3 {
    color: var(--blue-main);
    margin: 0;
    margin-bottom: 25px;
    width: 305px;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-credit h3 {
    color: var(--blue-main);
    margin: 0;
    margin-bottom: 28px;
    width: 305px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services-delivery p {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    width: 331px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.services-guarantee p {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    width: 331px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.services-credit p {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    width: 331px;
    font-size: 13px;
    line-height: 25px;
    font-weight: 400;
    position: relative;
    z-index: 2;
}

.application-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--red-credit-button);
    margin: 0;
    margin-top: 25px;
    width: 195px;
    box-sizing: border-box;
    padding: 11px 43px 9px 46px;
    display: block;
    position: relative;
    border-radius: 3px;
    z-index: 2;
}

/* index-columns */

.index-columns {
    padding-top: 72px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

/* about company */

.about-company {
    width: 460px;
}

.about-company h2 {
    color: var(--basic-black);
    margin: 0;      
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-company p {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.about-company p:nth-child(2) {
    margin-bottom: 25px;
}

.partners-list {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 3px;
    list-style-type: none;
}

.partners-list li {
    font-size: 18px;
    line-height: 24px;
    padding-left: 37px;
    position: relative;
    margin-bottom: 11px;
}

.partners-list li::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: var(--red-main);
}

.about-company-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 220px;
    padding: 11px 40px 9px 39px;
    box-sizing: border-box;

}

.main-contacts h2 {
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase; 
}

.main-contacts p {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 32px;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.city-map {
    margin-bottom: 25px;
    display: block;
}

.feedback-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    padding: 11px 61px 9px 62px;
    box-sizing: border-box;
    display: block;
}

/* footer */

.footer {
    background-color: var(--blue-main);
    color: var(--basic-white);
    width: 100%;
}

.footer-top-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-navigation {
    list-style: none;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 34px;
}

.footer-navigation li {
    margin-left: 59px;
}

.footer-navigation li:nth-child(1) {
    margin-left: 0;
}

.footer-navigation a {
    color: var(--grey-main);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-navigation a:hover,
.footer-advantages-list a:hover {
    text-decoration: underline;
}

.footer-navigation a:active,
.footer-advantages-list a:active {
    opacity: 0.5;
    text-decoration: none;
}

.footer-middle-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 54px;
}

.footer-contacts p,
.footer-contacts-phone-number {
    color: var(--grey-light);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    margin-left: 2px;
    margin-top: 22px;
}

.footer-contacts-phone-number {
    margin-left: 1px;
}

.footer-advantages-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 537px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 27px;
}

.footer-advantages-list li {
    margin-left: 59px;
}

.footer-advantages-list li:nth-child(1) {
    margin-left: 0;
}

.footer-advantages-list a {
    color: var(--yellow-nav);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.footer-bottom-wrapper {
    background-color: var(--blue-header-footer);
    width: 100%;
}

.footer-bottom-wrapper .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 26px;
}

.footer-tehnomart-copyright {
    color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 36px;
}

.footer-tehnomart-copyright p{
    padding: 0;
    margin: 0;
}

/* social */

.footer-social {
    margin-left: 161px;
    margin-right: 114px;
}

.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 34px;
}

.social-button {
    color: var(--basic-white);
    width: 44px;
    height: 44px;
}

.social-button:hover path:nth-child(1),
.social-button:focus path:nth-child(1),
.social-button:active path:nth-child(1){
    fill: var(--red-main);
}

/* feedback ~ copyright */

.feed-container {
    margin-right: 15px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-mail {
    color: var(--basic-white);
    padding: 0;
    margin: 0;
    margin-right: 51px;
}

.footer-htmlacademy-copyright {
    color: var(--basic-white);
    padding: 0;
    margin: 0;
}

.footer-feedback-mail-link {
    color: var(--yellow-nav);
}

.footer-htmlacademy-copyright-link {
    color: var(--yellow-nav);
}

.footer-feedback-mail-link:hover,
.footer-htmlacademy-copyright-link:hover,
.footer-feedback-mail-link:focus,
.footer-htmlacademy-copyright-link:focus {
    text-decoration: underline;
}

.footer-feedback-mail-link:active,
.footer-htmlacademy-copyright-link:active {
    color: var(--red-main);
    text-decoration: none;
}

/* catalog */

.page-catalog {
    display: grid;
    margin-bottom: 49px;
    margin-top: 20px;
}

.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: 1/-1;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.breadcrumbs li {
    margin-right: 41px;
    position: relative;
}

.breadcrumbs li:last-child {
    margin-right: 0;
}

.breadcrumbs li::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 13px;
    top: 3px;
    right: -25px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs-current::after {
    display: none;
}

.breadcrumbs a {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog {
    display: grid;
    grid-template-columns: 220px 1fr 1fr 1fr;
    column-gap: 20px;
}

.page-catalog-title {
    color: var(--blue-main);
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--grey-head);
    margin: 0;
    margin-bottom: 20px;
    padding: 29px;
    grid-column: 1/-1;
}

.page-catalog-filters {
    background-image: linear-gradient(to bottom, var(--grey-filter), var(--grey-filter) 38px, var(--basic-white) 38px);
    min-height: 720px;
    grid-row: 2/4;
    grid-column: 1/2;
}

.page-catalog-filters h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 14px;
    padding: 0;
    padding: 11px 18px 10px 18px;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter fieldset:first-child {
    margin-bottom: 42px;
}

.filter fieldset:nth-child(2) {
    margin-bottom: 45px;
}

.filter fieldset:nth-child(3) {
    margin-bottom: 37px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.filter legend {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-price-range legend {
    margin-bottom: 11px;
}

.range-controls {
    height: 41px;
    background-color: var(--grey-filter);
    border-radius: 2px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}

.range-controls .scale {
    height: 2px;
    background-color: var(--grey-scale);
}

.scale .bar {
    height: 2px;
    width: 83%;
    background-color: var(--green-scale-bar);
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    top: 30px;
    left: 0;
    padding: 0;
    background-color: var(--grey-toggle);
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--grey-toggle-shadow);
    position: absolute;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.price-controls input {
    width: 47px;
    height: 18px;
    padding: 10px 24px;
    margin: 0;
    border: none;
    background-color: var(--grey-filter);
    border-radius: 2px;
    font-family: inherit;
    font-size: inherit;
    text-align: center;   
}

.price-controls p {
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price-controls input {
    -moz-appearance: textfield;
}

.filter-vendors legend {
    margin-bottom: 18px;
}

.filter-supply-type legend {
    margin-bottom: 24px;
}

.filter-checkbox {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filter-checkbox:last-child {
    margin-bottom: 0;
}

.filter-radio {
    margin-bottom: 23px;
    padding-left: 35px;
}

.filter-radio:last-child {
    margin-bottom: 0;
}

.filter-option label {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    display: block;
    cursor: pointer;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    width: 19px;
    height: 19px;
    top: -2px;
    left: -35px;
    border: 2px solid var(--grey-hover-light);
    border-radius: 3px;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
    border: 2px solid var(--grey-hover-blocked);
}

.filter-input-checkbox:disabled + label {
    opacity: 0.4;
    cursor: default;
}

.filter-input-checkbox:disabled + label::before {
    opacity: 0.3;
    cursor: default;
}

.filter-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    top: -2px;
    left: -35px;
    border: none;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
    background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked:disabled + label {
    opacity: 0.4;
    cursor: default;
}

.filter-input-checkbox:checked:disabled + label::before {
    opacity: 0.3;
    cursor: default;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    top: -2px;
    left: -35px;
    border: 4px solid var(--grey-hover-light);
    border-radius: 50%;
}

.filter-input-radio:hover + label::before {
    border: 4px solid var(--grey-hover-blocked);
}

.filter-input-radio:disabled + label {
    opacity: 0.4;
    cursor: default;
}

.filter-input-radio:disabled + label::before {
    opacity: 0.3;
    cursor: default;
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 6px;
    left: -27px;
    background-color: var(--grey-hover-light);
    border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
    background-color: var(--grey-hover-blocked);
}

.filter-input-radio:checked:disabled + label {
    opacity: 0.4;
    cursor: default;
}

.filter-input-radio:checked:disabled + label::after {
    opacity: 0.3;
    cursor: default;
}

.filter-button {
    background-color: var(--basic-white);
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    width: 220px;
    padding: 10px 79px 10px;
    border: 1px solid var(--grey-border);
    box-sizing: border-box;
}

.filter-button:hover,
.filter-button:focus {
    border: 1px solid var(--grey-hover-light);
    color: var(--basic-white);
    background-color: var(--red-main);
    outline: none;
}

.filter-button:active {
    border: 1px solid var(--red-main);
    color: var(--basic-white);
    background-color: var(--red-error);
    outline: none;
}

.page-catalog-sort {
    background-color: var(--grey-filter);
    grid-column: 2/-1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.page-catalog-sort h2 {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding: 11px 20px 10px 20px;
}

.horizontal-sort-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 120px;
    display: flex;
}

.horizontal-sort-menu li:nth-child(1) {
    margin-right: 70px;
}

.horizontal-sort-menu li:nth-child(2) {
    margin-right: 65px;
}

.horizontal-sort-menu li:last-child {
    margin-right: 0;
}

.horizontal-sort-menu a {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--black-sort-opacity);
    border-bottom: 1px dotted var(--red-main);
}

.horizontal-sort-menu a:hover,
.horizontal-sort-menu a:focus {
    color: var(--basic-black);
    border-bottom: 1px solid var(--red-main);
}

.horizontal-sort-menu .current-sort {
    color: var(--red-main);
    border-bottom: none;
}

.horizontal-sort-menu .current-sort:hover,
.horizontal-sort-menu .current-sort:focus,
.horizontal-sort-menu .current-sort:active {
    color: var(--red-main);
    border-bottom: none;
}

.sort-increase-decrease {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 12px 14px 10px 47px;
    width: 42px;
}

.arrow-increase svg{
    transform: rotate(180deg);
}

.active-sort path {
    fill: var(--red-main);
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-area: 3/2/6/-1;
    margin-top: 28px;
    margin-bottom: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 700px;
}

.catalog-item {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 18px;
    display:flex;
    overflow: hidden;
    border: 1px solid var(--product-border);
    box-sizing: border-box;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-row-start: 6;
    grid-column: 2/-1;
    display: flex;
    flex-wrap: wrap;
}

.pagination-item {
    font-family: "PT Sans", Arial, sans-serif;
    color: var(--basic-black);
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 1px solid var(--grey-border);
    border-radius: 2px;
    margin: 0;
    display: block;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.pagination-item:last-child {
    margin-right: 0;
    padding: 10px 33px 10px 30px
}

.pagination-item-current {
    background-color: var(--red-main);
    color: var(--basic-white);
}

.pagination-item:hover {
    border: 1px solid var(--grey-hover-light);
}

.pagination-item:active {
    border: 1px solid var(--red-main);
}

.about-catalog-items {
    color: var(--basic-black);
    background-color: var(--grey-main);
    padding-top: 64px;
    padding-bottom: 70px;
}

.about-catalog-items h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-catalog-items p {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--basic-black);
    background-color: var(--grey-light);
    display: none;
}

.modal h2 {
    margin: 0;
    margin-bottom: 20px;
}

.modal-feedback {
    width: 620px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 4px 20px var(--black-box-shadow);
    z-index: 15;
    top: 200px;
    bottom: auto;
}

.modal-feedback::before {
    content: '';
    top: 0;
    left: 0;
    width: 620px;
    height: 7px;
    background-color: var(--red-credit-button);
    position: absolute;
}

.feedback-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.feedback-form-top {
    margin-top: 46px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feedback-form-top div:nth-child(1) {
    margin-right: 20px;
}

.feedback-form-middle {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 13px;
    margin-bottom: 33px;
}

.feedback-form-bottom {
    background-color: var(--grey-modal);
}

.feedback-form label {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.feedback-form-name, 
.feedback-form-mail,
.feedback-text {
    box-sizing: border-box;
    width: 220px;
    color: var(--basic-black);
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    padding: 7px 8px 3px 12px;
    border: 2px solid var(--grey-hover-light);
    border-radius: 2px;
    margin-top: 11px;
}

.feedback-text {
    width: 460px;
    padding: 6px 12px 8px 12px;
    resize: none;
}

.modal-feedback-button {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border: none;
    padding-top: 11px;
    padding-bottom: 9px;
    min-width: 460px;
    margin: 37px 80px;
}

.modal-feedback-close {
    position: absolute;
    top: 21px;
    right: 11px;
    background-color: transparent;
    border: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.modal-feedback-close::after {
    content: "";
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    background-image: url("../img/icon-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal-login {
    display: none;
}

.modal-map {
    width: 943px;
    height: 449px;
    background-color: var(--basic-white);
    box-shadow: 0px 4px 20px var(--black-box-shadow);
    z-index: 15;
    top: 200px;
    bottom: auto;
}

.modal-map iframe {
    border: none;
}

.modal-map::before {
    content: '';
    top: 0;
    left: 0;
    width: 943px;
    height: 7px;
    background-color: var(--red-credit-button);
    position: absolute;
}

.modal-map-close {
    position: absolute;
    top: 17px;
    right: 10px;
    background-color: transparent;
    border: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.modal-map-close::after {
    content: "";
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    background-image: url("../img/icon-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal-add-to-cart {
    width: 620px;
    color: var(--basic-black);
    background-color: var(--basic-white);
    box-shadow: 0px 4px 20px var(--black-box-shadow);
    z-index: 15;
    top: 40%;
    bottom: auto;
}

.modal-add-to-cart::before {
    content: '';
    top: 0;
    left: 0;
    width: 620px;
    height: 7px;
    background-color: var(--red-credit-button);
    position: absolute;
}

.modal-add-to-cart-top p{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 74px;
    margin-left: 99px;
    margin-right: 99px;
    margin-bottom: 67px;
}

.modal-add-to-cart-top::before {
    content: '';
    top: 55px;
    left: 81px;
    width: 66px;
    height: 66px;
    position: absolute;
    background-image: url("../img/icon-mark-green.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-add-to-cart-bottom {
    background-color: var(--grey-modal-cart);
    display: flex;
    flex-wrap: wrap;
}

.modal-add-to-cart-bottom a {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.make-an-order {
    background-color: var(--red-main);
    color: var(--basic-white);
    margin: 37px 10px 37px 114px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 47px;
    padding-right: 46px;
}

.continue-shopping {
    background-color: var(--basic-white);
    color: var(--basic-black);
    margin: 37px 112px 37px 0px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 32px;
    padding-right: 31px;
}


.modal-add-to-cart-close {
    position: absolute;
    top: 18px;
    right: 11px;
    background-color: transparent;
    border: 0;
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.modal-add-to-cart-close::after {
    content: "";
    top: 0;
    left: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    background-image: url("../img/icon-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

@keyframes bounce {
    0% {
      transform: translateY(-2000px);
    }
  
    70% {
      transform: translateY(30px);
    }
  
    90% {
      transform: translateY(-10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}